In [52]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [284]:
zoo_df = pd.read_csv("testdata/zoo.csv", header=None)

In [285]:
zoo_df.head()

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0   1   0   0   1   0   0   1   1   1   1   0   0   4   0   0   1   0
1   1   0   0   1   0   0   0   1   1   1   0   0   4   1   0   1   0
2   0   0   1   0   0   1   1   1   1   0   0   1   0   1   0   0   3
3   1   0   0   1   0   0   1   1   1   1   0   0   4   0   0   1   0
4   1   0   0   1   0   0   1   1   1   1   0   0   4   1   0   1   0

In [286]:
zoo_df.columns=["hair"     ,
"feathers"  ,
"eggs"      ,
"milk"     ,
"airborne"  ,
"aquatic" ,
"predator"  ,
"toothed"   ,
"backbone"  ,
"breathes"  ,
"venomous"  ,
"fins"      ,
"legs"      ,
"tail"      ,
"domestic"  ,
"catsize"   ,
"type"      ]

In [287]:
zoo_df.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,0
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,0
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,3
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,0
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,0

In [288]:
zoo_x = zoo_df[["hair"     ,
"feathers"  ,
"eggs"      ,
"milk"     ,
"airborne"  ,
"aquatic" ,
"predator"  ,
"toothed"   ,
"backbone"  ,
"breathes"  ,
"venomous"  ,
"fins"      ,
"legs"      ,
"tail"      ,
"domestic"  ,
"catsize"   ]]

In [289]:
zoo_y = zoo_df['type']
zoo_y.head()

0    0
1    0
2    3
3    0
4    0
Name: type, dtype: int64

In [295]:
zoo_y = np.array(zoo_y).reshape(len(zoo_y),1)

In [296]:
zoo_y.shape

(101, 1)

In [297]:
# x = tf.placeholder(tf.float32, [None, 16])
# y = tf.placeholder(tf.int32, [None, 1])

x = tf.placeholder(tf.float32, [None, 16])
y = tf.placeholder(tf.int32, [None, 1])

y_one_hot = tf.one_hot(y, 7)
y_one_hot = tf.reshape(y_one_hot, [-1, 7]) # nx7

In [298]:
tf.set_random_seed(123)
w = tf.Variable(tf.random_normal([16, 7]))
b = tf.Variable(tf.random_normal([7]))

logit = tf.matmul(x,w) + b
model = tf.nn.softmax(logit)
cost_i = tf.nn.softmax_cross_entropy_with_logits(logits=logit, labels=y_one_hot)
cost = tf.reduce_mean(cost_i)

optimizer = tf.train.AdamOptimizer(0.1).minimize(cost)

predict = tf.argmax(model, 1)
correct_pred = tf.equal(predict, tf.argmax(y_one_hot, 1))
accuracy = tf.reduce_mean(tf.cast(correct_pred, tf.float32))

In [299]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    
    for s in range(3000):
        sess.run(optimizer, feed_dict={x:zoo_x, y:zoo_y})
        if s % 100 == 0:
            loss, acc = sess.run([cost, accuracy], feed_dict = {x:zoo_x, y:zoo_y})
            
            print("s:{}, cost:{}, acc:{}".format(s, loss, acc))

s:0, cost:5.4047112464904785, acc:0.07920791953802109
s:100, cost:0.02196461893618107, acc:1.0
s:200, cost:0.009579620324075222, acc:1.0
s:300, cost:0.005649214144796133, acc:1.0
s:400, cost:0.0038029495626688004, acc:1.0
s:500, cost:0.002766246907413006, acc:1.0
s:600, cost:0.002117510186508298, acc:1.0
s:700, cost:0.0016805777559056878, acc:1.0
s:800, cost:0.0013702571159228683, acc:1.0
s:900, cost:0.0011407466372475028, acc:1.0
s:1000, cost:0.0009655767353251576, acc:1.0
s:1100, cost:0.0008284090436063707, acc:1.0
s:1200, cost:0.0007187207811512053, acc:1.0
s:1300, cost:0.0006294554914347827, acc:1.0
s:1400, cost:0.0005557315889745951, acc:1.0
s:1500, cost:0.0004940691869705915, acc:1.0
s:1600, cost:0.00044190336484462023, acc:1.0
s:1700, cost:0.0003973252896685153, acc:1.0
s:1800, cost:0.0003589238040149212, acc:1.0
s:1900, cost:0.0003255551855545491, acc:1.0
s:2000, cost:0.00029638464911840856, acc:1.0
s:2100, cost:0.00027076611877419055, acc:1.0
s:2200, cost:0.0002480586408637464, acc:1.0
s:2300, cost:0.0002279133041156456, acc:1.0
s:2400, cost:0.00020988650794606656, acc:1.0
s:2500, cost:0.00019373487157281488, acc:1.0
s:2600, cost:0.00017919480160344392, acc:1.0
s:2700, cost:0.0001660543930483982, acc:1.0
s:2800, cost:0.00015415126108564436, acc:1.0
s:2900, cost:0.00014332408318296075, acc:1.0