<h3> 서로 독립인 두 집단의 평균 차이 검정(independent samples t-test)</h3>

남녀의 성적, A반과 B반의 키, 경기도와 충청도의 소득 따위의 서로 독립인 두 집단에서 얻은 표본을 독립표본(two sample)이라고 한다.

1. 실습) 남녀 두 집단 간 파이썬 시험점수의 평균 차이 검정<br>
male = [75, 85, 100, 72.5, 86.5] <br>
female = [63.2, 76, 52, 100, 70]

<b>귀무: 남녀 두 집단 간 시험점수 평균에 차이가 없다.</b><br>
<b>대립: 남녀 두 집단 간 시험점수 평균에 차이가 있다.</b>

In [22]:
from scipy import stats
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
male = [75, 85, 100, 72.5, 86.5] 
female = [63.2, 76, 52, 100, 70]

In [25]:
two_sample = stats.ttest_ind(male, female) # 남, 녀 두 집단의 평균 차에 대한 t 검정
t, p = two_sample # 검정통계량, pvalue 반환
print('t: {}, p-value:{}'.format(t,p))

t: 1.233193127514512, p-value:0.2525076844853278

<b>p-value가 유의수준 0.05보다 크므로 귀무가설을 기각하지 않는다.</b>
<br><br><br><br><br><br><br>

2. 실습) 두 교육 방식을 받은 집단 간 시험점수의 평균 차이 검정<br>
male = [75, 85, 100, 72.5, 86.5] <br>
female = [63.2, 76, 52, 100, 70]

<b>귀무: 두 교육 방식을 받은 두 집단 간 시험점수 평균에 차이가 없다.</b><br>
<b>대립: 두 교육 방식을 받은 두 집단 간 시험점수 평균에 차이가 있다.</b>

In [28]:
data = pd.read_csv('testdata/two_sample.csv')
data.head()

   no  gender  method  survey  score
0   1       1       1       1    5.1
1   2       1       2       0    NaN
2   3       1       1       1    4.7
3   4       2       2       0    NaN
4   5       1       1       1    5.4

In [56]:
method_1 = data[data['method'] == 1] # 교육방법 1
method_2 = data[data['method'] == 2] # 교육방법 2
print(len(data[data['score'].isnull() == True]))  # 2개 
data = data[data['score'].isnull() == False]  # nan값 제외 후 dataframe 다시 저장

data.head()

0

   no  gender  method  survey  score
0   1       1       1       1    5.1
2   3       1       1       1    4.7
4   5       1       1       1    5.4
5   6       1       2       1    4.4
6   7       1       2       0    4.9

In [63]:
# 정규성 확인 과정 생략
result = stats.ttest_ind(method_1['score'], method_2['score'])
print(result)

Ttest_indResult(statistic=-0.18441356104584458, pvalue=0.854499643062619)